nav.navbar.navbar-default
  .container
    a(href='index.html')
      img.logo(src='../img/only_logo.png', width='150px', height='90px')
      .welcome.text-center
    .font-categories.logo.title-mine
      h2 "Encuentra tu camino"
    ul.top-menu
      li
        a(href='about.html')
          | Encuentra
          small
            i.glyphicon.glyphicon-menu-down
      li
        a(href='about.html')  Conóncenos
      li
        a(href='about.html')  Blog
      li
        a(href='createEvent.html')  Anúnciate gratis
  