nav.navbar.navbar-default.navbar-fixed-top.header-mine
  .container
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only  Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-left.color-blue
        li
          a(href='about.html')
            i.glyphicon.glyphicon-envelope
            |  info@encuentratucamino.com
      ul.nav.navbar-nav.navbar-right.color-blue
        li
          a(href='about.html')
            i.glyphicon.glyphicon-heart-empty
            |  Mis favoritos
        li
          a(href='about.html')
            i.glyphicon.glyphicon-log-in
            |  loggin