extends layout
block content

    .welcome.text-center.container
      p#welcome-top
        | Bienvenido a Tu portal de Anuncios: 
        strong T
        | rinidad de la 
        strong V
        | ida
      .hr-line
    .container
      #myCarousel.carousel.slide(data-ride='carousel')
        // Wrapper for slides
        .carousel-inner
          .item.active
            img.img-carrusel.img-opac(src='../img/retiros.gif')
            .carousel-caption
              .form-group.label-taller.font-retiro
                p.text-center.font-categories.size-title-categories Retiros
                form(action='/', method='POST')
                  label.label-taller(for='sel1') Selecciona una categoria:
                  i.glyphicon.glyphicon-hand-down(width='80px')
                  select#sel1.form-control.form-personal.select-taller.col-md-1
                    option(value='1') Categoria...
                    option(value='2') Yoga
                    option(value='3') Ayurveda
                    option(value='4') Tantra
                    option(value='5') Trinidad
                  .col-md-1
                      span.input-group-btn
                        button#search.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search
          // End Item
          .item
            img.img-carrusel.img-opac(src='../img/formaciones.gif', height='-300px;')
            .carousel-caption
              .form-group.label-taller.font-retiro
                p.text-center.font-categories.size-title-categories Formaciones
                form(action='/', method='POST')
                  label.label-taller.size-categories(for='sel1') Selecciona una categoria:
                  i.glyphicon.glyphicon-hand-down(width='70px')
                  select#sel1.form-control.form-personal.select-taller.col-md-1
                    option(value='1') Categoria...
                    option(value='2') Yoga
                    option(value='3') Ayurveda
                    option(value='4') Tantra
                    option(value='5') Trinidad
                  .col-md-1
                      span.input-group-btn
                        button.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search
          // End Item
          .item
            img.img-carrusel.img-opac(src='../img/talleres.gif')
            .carousel-caption
              .form-group.label-taller.font-retiro
                p.text-center.font-categories.size-title-categories Talleres
                form(action='/', method='POST')
                  label.label-taller(for='sel1') Selecciona una categoria:
                  i.glyphicon.glyphicon-hand-down(width='70px')
                  select#sel1.form-control.form-personal.select-taller.col-md-1
                    option(value='1') Categoria...
                    option(value='2') Yoga
                    option(value='3') Ayurveda
                    option(value='4') Tantra
                    option(value='5') Trinidad
                  .col-md-1
                      span.input-group-btn
                        button.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search
          // End Item
          .item
            img.img-carrusel.img-opac(src='../img/conferencias.gif')
            .carousel-caption
              .form-group.label-taller.font-retiro
                p.text-center.font-categories.size-title-categories Conferencias
                form(action='/', method='POST')
                  label.label-taller(for='sel1') Selecciona una categoria:
                  i.glyphicon.glyphicon-hand-down(width='70px')
                  select#sel1.form-control.form-personal.select-taller.col-md-1
                    option(value='1') Categoria...
                    option(value='2') Yoga
                    option(value='3') Ayurveda
                    option(value='4') Tantra
                    option(value='5') Trinidad
                  .col-md-1
                      span.input-group-btn
                        button.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search
            // End Item
          .item
            img.img-carrusel.img-opac(src='../img/maestros.gif')
            .carousel-caption
              form
              .form-group.label-taller.font-retiro
                p.text-center.font-categories.size-title-categories Maestros espirituales
                form(action='/', method='POST')
                  label.label-taller(for='sel1') Selecciona una categoria:
                    i.glyphicon.glyphicon-hand-down(width='70px') 
                    select#sel1.form-control.form-personal.select-taller.col-md-1
                      option(value='1') Categoria...
                      option(value='2') Yoga
                      option(value='3') Ayurveda
                      option(value='4') Tantra
                      option(value='5') Trinidad
                    .col-md-1
                      span.input-group-btn
                        button.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search 
 
                //- span#basic-addon2.input-group-addon.i.glyphicon.glyphicon-search Encuentra
          // End Item
        // End Caousel Inner
        ul.nav.nav-pills.nav-justified.size-categories
          li.active(data-target='#myCarousel', data-slide-to='0')
            a(href='#')
              i.glyphicon.glyphicon-home
              |  Retiros
          li(data-target='#myCarousel', data-slide-to='1')
            a(href='#')
              i.glyphicon.glyphicon-education
              |  Formaciones
          li(data-target='#myCarousel', data-slide-to='2')
            a(href='#')
              i.glyphicon.glyphicon-edit
              |  Talleres
          li(data-target='#myCarousel', data-slide-to='3')
            a(href='#')
              i.glyphicon.glyphicon-info-sign
              |  Conferencias
          li(data-target='#myCarousel', data-slide-to='4')
            a(href='#')
              i.glyphicon.glyphicon-user
              |  Maestros espirituales

        // End Carousel
    //- section.row.pre-footer.cont-body
    //-   .container
    //-     .col-md-4
    //-       h1.text-center Conecta
    //-       p
    //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, voluptas suscipit itaque, vel a excepturi eius fugit reiciendis velit fuga ad vero, corrupti maiores eos ipsum consectetur molestiae error quos?
    //-     .col-md-4
    //-       h1.text-center Conecta
    //-       p
    //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iste fuga eveniet ex? Quasi, adipisci. Laboriosam quisquam ab distinctio, magnam eos, natus ullam incidunt eaque ratione asperiores ea id ipsa!
    //-     .col-md-4
    //-       h1.text-center Conecta
    //-       p
    //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iste fuga eveniet ex? Quasi, adipisci. Laboriosam quisquam ab distinctio, magnam eos, natus ullam incidunt eaque ratione asperiores ea id ipsa!
    //-       