extends layout
block content
	.welcome.text-center.container
		p.welcome-top Acceso a usuarios
		.hr-line
	.container
		a#login(href="") Registrarse
		a#register(href="") Iniciar Sesión
	.container.login-top
		.row
			.col-md-6.col-md-offset-3
				.panel.panel-login
					.panel-body
						.row
							.col-lg-12
								form#login-form(action='/acount', method='post', role='form', style='display: block;')
									h2.font-categories LOGIN
									.form-group
										input#username.form-control(type='text', name='username',placeholder='Username', value='')
									.form-group
										input#password.form-control(type='password', name='password', placeholder='Password')
									.col-xs-6.form-group.pull-left.checkbox
										input#checkbox1(type='checkbox', name='remember')
										label(for='checkbox1') Recordar contraseña
									.col-xs-6.form-group.pull-right
										a(href='/acount')
											input#login-submit.form-control.btn.btn-login.font-categories(type='submit', name='login-submit', value='Log In')


								form#register-form(action='/register', method='post', role='form', style='display: none;')
									h2.font-categories REGISTRO
									.form-group
										input#username.form-control(type='text', name='username', placeholder='Username', value='')
									.form-group
										input#email.form-control(type='email', name='email', placeholder='Email Address', value='')
									.form-group
										input#password.form-control(type='password', name='password', placeholder='Password')
									
									.form-group
										.row
											.col-sm-6.col-sm-offset-3
												input#register-submit.form-control.btn.btn-register.font-categories(type='submit', name='register-submit', value='Registrarme')
							
							
								
		//- if (h2===LOGIN)						 				
		//- 	a#login.text-center A&uacute;n no estoy registrado. Registrarme!
		//- else
		//- 	a#register.text-center Ya estoy registrado. Iniciar sesion!
												

	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
	script(src='/js/register.js')